#introduction {
  background-color: #D5D5D5;
}

#highlight-one {
  background-color: #A5A5A5;
}

#highlight-two {
  background-color: #858585;
}

/* Challenge 2: Add selectors for the class and tag you are using, */
/* and set the font attributes according to the recommendation from */
/* the Google fonts page. For Example: */
/* 
.introduction h1 {
font-family: "Roboto", sans-serif;
font-weight: 900;
font-style: normal;
}
*/
